In [1]:
import haversine as hs
import pandas as pd

In [2]:
geo_bts_df = pd.read_csv('geo_bts.csv')
geo_bts_df.drop('Unnamed: 3', axis=1, inplace= True)
geo_bts_df.drop('Unnamed: 4', axis=1, inplace= True)
geo_bts_df.drop('Unnamed: 5', axis=1, inplace= True)
# geo_bts_df
geo_bts_df.head()

                       Station   Latitude   Longitude
0                     BTS คูคต  13.931680  100.643302
1                 BTS แยก คปอ.  13.923586  100.625031
2    BTS พิพิธภัณฑ์กองทัพอากาศ  13.919899  100.621987
3  BTS โรงพยาบาลภูมิพลอดุลยเดช  13.909114  100.617736
4                BTS สะพานใหม่  13.896593  100.609129

In [3]:
geo_mrt_df = pd.read_csv('geo_mrt.csv')
geo_mrt_df.drop('Unnamed: 3', axis=1, inplace= True)
geo_mrt_df.drop('Unnamed: 4', axis=1, inplace= True)
geo_mrt_df.drop('Unnamed: 5', axis=1, inplace= True)
# geo_mrt_df
geo_mrt_df.head()

                Station   Latitude   Longitude
0  MRT กระทรวงสาธารณสุข  13.848567  100.514765
1         MRT กำแพงเพชร  13.798075  100.548796
2           MRT คลองเตย  13.732239  100.559747
3        MRT คลองบางไผ่  13.892353  100.408256
4          MRT จรัญฯ 13  13.740184  100.470797

In [5]:
geo_apl_df = pd.read_csv('geo_apl.csv')
# geo_apl_df
geo_apl_df

                        Station   Latitude   Longitude
0     AIR PORT LINK LAT KBABANG  13.727712  100.747484
1  AIR PORT LINK BAN THAP CHANG  13.733105  100.688643
2         AIR PORT LINK HUA MAK  13.738046  100.645181
3    AIR PORT LINK RAMKHAMHAENG  13.742992  100.600147
4        AIR PORT LINK MAKKASAN  13.751029  100.561213
5    AIR PORT LINK RATCHAPRAROP  13.755022  100.542122
6      AIR PORT LINK PHAYA THAI  13.756738  100.534842
7    AIR PORT LINK SUVARNABHUMI  13.689999  100.750112

In [6]:
geo_df = geo_bts_df.append(geo_mrt_df, ignore_index= True)
geo_df = geo_df.append(geo_apl_df, ignore_index= True)
geo_df = geo_df.set_index('Station')
geo_df.head()

                              Latitude   Longitude
Station
BTS คูคต                     13.931680  100.643302
BTS แยก คปอ.                 13.923586  100.625031
BTS พิพิธภัณฑ์กองทัพอากาศ    13.919899  100.621987
BTS โรงพยาบาลภูมิพลอดุลยเดช  13.909114  100.617736
BTS สะพานใหม่                13.896593  100.609129

In [7]:
stations = list(geo_df.index)
len(stations)

121

In [8]:
from_to = []
for i in stations:
    for j in stations:
        if i == j:
            continue
        from_to += [[i,j]]

len(from_to)

14520

In [9]:
origins = []
destination = []
for i in from_to:
    origins += [i[0]]
    destination += [i[1]]

print(len(origins))
print(len(destination))

14520
14520

In [10]:
def geo_dist(A,B):
    locA = [ float(geo_df.at[A,'Latitude']), float(geo_df.at[A,'Longitude']) ]
    locB = [ float(geo_df.at[B,'Latitude']), float(geo_df.at[B,'Longitude']) ]
    distance = hs.haversine(locA,locB)*1000
    return distance

In [11]:
distance = []
for i, j in zip(origins, destination):
    distance.append(geo_dist(i,j))
        
len(distance)

14520

In [12]:
geo_data = {'origins': origins,
        'destination': destination,
        'distance': distance
       }
geo_distance = pd.DataFrame(geo_data)
geo_distance.tail(15)

                          origins                   destination      distance
14505  AIR PORT LINK SUVARNABHUMI                   MRT สิรินธร  29582.839580
14506  AIR PORT LINK SUVARNABHUMI                      MRT สีลม  23480.309762
14507  AIR PORT LINK SUVARNABHUMI                  MRT สุขุมวิท  21082.746885
14508  AIR PORT LINK SUVARNABHUMI                  MRT สุทธิสาร  22008.837393
14509  AIR PORT LINK SUVARNABHUMI                   MRT หลักสอง  39469.475505
14510  AIR PORT LINK SUVARNABHUMI                  MRT ห้วยขวาง  21330.347598
14511  AIR PORT LINK SUVARNABHUMI                  MRT หัวลำโพง  25719.694331
14512  AIR PORT LINK SUVARNABHUMI                   MRT อิสรภาพ  29107.822424
14513  AIR PORT LINK SUVARNABHUMI     AIR PORT LINK LAT KBABANG   4203.123200
14514  AIR PORT LINK SUVARNABHUMI  AIR PORT LINK BAN THAP CHANG   8189.546074
14515  AIR PORT LINK SUVARNABHUMI         AIR PORT LINK HUA MAK  12531.139329
14516  AIR PORT LINK SUVARNABHUMI    AIR PORT LINK RAMKHAMHAENG  17238.225026
14517  AIR PORT LINK SUVARNABHUMI        AIR PORT LINK MAKKASAN  21504.190980
14518  AIR PORT LINK SUVARNABHUMI    AIR PORT LINK RATCHAPRAROP  23602.057085
14519  AIR PORT LINK SUVARNABHUMI      AIR PORT LINK PHAYA THAI  24409.086671

In [13]:
geo_distance.to_json('nodes-geo_dist.json', orient="records")